<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScanExample Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ScanExample copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ScanExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ScanExampleInternal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ScanExampleInternalDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ScanExampleInternalNoImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ScanExamplePassInternal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ScanExamplePassport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ScanExample_AdHoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A2C90321564175A000727BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7607171818CDDF0D002438EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7618CC6118ABE73300455148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761916BA18C7B9C7008E9CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761CBA0318A9503E00790056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766C1DD3191927E90024E46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766EFC331A7556C30068DB0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76775CC41A48B6E200A5FC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76775D0C1A48BD9A00A5FC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
